:root {
  --cien: lavender;
}

body {
  background: #788598;
  color: white;
  border: none;
}

.card {
  background: #394449;
}

.card-header {
  border: 0 !important;
}

.list-group-item {
  background: #475258;
}


.frame {
  box-shadow: 0 0 9px 9px var(--cien);
  border: 0 !important;
  border-radius: 15px;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.logout-text, .change-password-text {
  letter-spacing: 3px;
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
}

#id_co {
  background: #788598;
  color: white;
  outline: none;
  border-color: #515865
}

label {
  font-size: 28px !important;
}

table tr td a {
  color: #fff !important;
}

table {
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
}

th, td {
  color: #fff;
  text-align: center;
  border: 0 !important;

}

th, tbody tr:first-child td {
  padding: 5px;
}

 .tdd th, .tdd td{
  background: #354567;
}

input {
  width: 99.99%;
  border-color: #515865 !important;
  background: #616875 !important;
  color: white !important;
  text-align: center;
}

input:focus {
  outline: none;
  box-shadow: 0;
  border-color: gray;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[type=search].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}


.login-error {
  color: darkorange;
}

.akcesoria-search:hover {
  color: black !important;
}

button {
  color: white;
}

.brak {
  color: darkorange !important;
}
