{% extends 'base.html' %}
{% load static %}

{% block title %} Zmień hasło {% endblock %}

{% block content %}
  <table cellspacing="0" class="table table-bordered table-striped table-dark mt-5 w-75 frame text-center">
    <thead>
      <tr>
        <th>Stare hasło</th>
        <th>Nowe hasło</th>
        <th>Potwierdź nowe hasło</th>
      </tr>
    </thead>
    <tbody>
      <form method="post" class="text-center">
        {% csrf_token %}
          <tr>
            {% for element in form %}
                <td>{{ element }}</td>
            {% endfor %}
          </tr>
            <td colspan="12">
              <button type="submit" class="btn btn-outline-light mx-auto w-100 montserrat"><i class="fas fa-save"></i> Zapisz</button>
            </td>
            {% if form.errors %}
              {% for error in form.errors %}
                {% if error == "old_password" %}
                    <tr>
                      <td colspan="3" class="login-error">Stare hasło niepoprawne.</td>
                    </tr>
                  {% elif error == "new_password2" %}
                  <tr>
                    <td colspan="3" class="login-error">Nowe hasła nie pasują do siebie.</td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
      </form>
    </tbody>
  </table>


{% endblock %}
