{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}
  <div class="container">
    <div class="card mx-auto mt-5 frame">
      <div class="p-3">
        <form method="post" class="text-center">
          {% csrf_token %}
          <div class="m-5">
            {% bootstrap_form form %}
          </div>
          <button type="submit" class="btn btn-outline-primary mx-auto montserrat w-75">Login</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %} <script src="{% static 'accounts/script.js' %}"></script> {% endblock %}
