{% extends 'base.html' %}
{% load static %}
{% block title %} Akcesoria {% endblock %}
{% block styl %}{% endblock styl %}
{% block content %}
    <table cellspacing="0" class="table table-bordered table-striped table-dark mt-5 frame text-center">
      <thead>
        <tr>
          <th>Rodzaj</th>
          <th>Kwota</th>
          <th>Model</th>
        </tr>
      </thead>
      <tbody>
        <form method="post">
        {% csrf_token %}
            <tr>
                {% for element in form %}
                  <td>{{ element }}</td>
                {% endfor %}
            </tr>
            <tr>
              <td colspan="12">
                <button type="submit" class="btn btn-outline-light w-100"><i class="fas fa-save"></i> Zapisz</button>
              </td>
            </tr>
        </form>
      </tbody>
    </table>

    <table cellspacing="0" class="table table-bordered table-striped table-dark mt-5 frame text-center">
      <thead>
        <tr>
          <th>Kto</th>
          <th>Rodzaj</th>
          <th>Kwota</th>
          <th>Model</th>
          <th>Edytuj</th>
          <th>Usuń</th>
        </tr>
      </thead>
      <tbody>
        {% for akces in akcesoria %}
          <tr>
            <td>{{ akces.kto }}</td>
            <td>{{ akces.co }}</td>
            <td>{{ akces.kwota }}</td>
            <td>{{ akces.model }}</td>

            {% if akces.kto == user %}
                <td><a href="{% url 'akcesoria:akcesoria-update' akces.id %}"><i class="fas fa-edit"></i></a></td>
                <td><a href="{% url 'akcesoria:akcesoria-delete' akces.id %}"><i class="far fa-trash-alt"></i></a></td>
            {% else %}
                <td colspan="2"></td>
            {% endif %}

          </tr>
        {% endfor %}
      </tbody>

{% endblock %}
