{% extends 'base.html' %}
{% block content %}
  <table class="table table-striped table-dark mt-5 frame">
    <thead>
      <tr>
        <th>Kto</th>
        <th>Co</th>
        <th>Kwota</th>
        <th>Model</th>
      </tr>
    </thead>
    <tbody>
      {% for akces in akcesoria %}
        <tr>
          <td><a href="{% url 'akcesoria:akcesoria-detail' pk=akces.id %}">{{ akces.kto }}</a></td>
          <td><a href="{% url 'akcesoria:akcesoria-detail' pk=akces.id %}">{{ akces.co }}</a></td>
          <td><a href="{% url 'akcesoria:akcesoria-detail' pk=akces.id %}">{{ akces.kwota }}</a></td>
          <td><a href="{% url 'akcesoria:akcesoria-detail' pk=akces.id %}">{{ akces.model }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
